html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.container-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#026786, #156865);
}

.container-inner-index {
  display: flex;
  flex-direction: row;
}

.left-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.logo-image {
  width: 60px;
}
.logo {
  width: 60%;
}

.headline-index {
  font-size: 72px;
  font-weight: bolder;
  max-width: 400px;
  color: #fff;
  align-self: flex-start;
}

.subheadline-index {
  font-size: 34px;
  font-weight: lighter;
  max-width: 350px;
  margin-top: 20px;
  color: #fff;
  align-self: flex-start;
}

.bold-subheadline-index {
  font-weight: 400;
}

.icons {
  margin-top: 50px;
}

.icons-address {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.icons-address .apple {
  width: 100%;
}

.icons-address .google {
  width: 100%;
  margin-top: 50px;
}

.apple {
  width: 40%;
  transition: top ease 0.4s; /* Animation */
  position: relative;
}

.google {
  width: 40%;
  opacity: 0.9;
  transition: top ease 0.4s; /* Animation */
  position: relative;
}

.apple:hover {
  top: -10px;
}

.google:hover {
  top: -10px;
}

.next-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  cursor: pointer;
}

.next-icon-index {
  width: 144px;
  transition: top ease 0.4s;
  position: relative;
  transition: top ease 0.4s; /* Animation */
}

.next-icon-index:hover {
  top: -10px;
}

.right-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/*Address screen */
.address-address {
  margin-top: 30px;
  opacity: 0;
  transform: translateY(80%);
}
.address-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.address-icon {
  margin-right: 10px;
}

.address-icon-img {
  width: 60%;
}

.address-text {
  font-size: 24px;
  font-weight: lighter;
  max-width: 350px;
  color: #fff;
  align-self: flex-start;
}

.frouple-links {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.frouple-link-policy {
  background-color: white;
  border-radius: 20px;
  padding: 8px 18px;
  color: #146866;
}

.frouple-link-terms {
  background-color: white;
  border-radius: 20px;
  padding: 8px 18px;
  color: #146866;
  margin-left: 20px;
}

.address-div {
  border: 2px solid #e9f3fb;
  border-radius: 20px;
  margin-left: 40px;
  width: 65%;
  padding: 10px;
  padding-bottom: 20px;
  opacity: 0;
  transform: translateX(10%);
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .container-index {
    height: auto;
  }
  .container-inner-index {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
  }

  .left-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headline-index {
    align-self: center;
  }

  .subheadline-index {
    align-self: center;
    max-width: 350px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .apple,
  .google {
    width: 60%;
  }

  .google {
    margin-top: 30px;
  }

  .next-index {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .next-icon-index {
    width: 100px;
  }

  .right-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*address */
  .address-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .address-area {
    flex-direction: column;
  }

  .address-icon {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .address-icon-img {
    width: 10%;
  }

  .frouple-links {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .frouple-link-terms {
    margin-left: 0px;
    margin-top: 20px;
  }

  .address-div {
    border-radius: 20px;
    margin-left: 0px;
    width: 80%;
    padding: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .container-inner-index {
    padding: 20px;
  }

  .left-index {
    margin-left: 30px;
    margin-top: 0px;
  }

  .headline-index {
    font-size: 70px;
  }

  .subheadline-index {
    font-size: 32px;
  }

  .next-index {
    margin-top: 60px;
  }

  .next-icon-index {
    width: 100px;
  }

  .right-index {
    margin-right: 30px;
    margin-top: 0px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 830px) {
  .next-index {
    margin-top: 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 870px) {
  .headline-index {
    font-size: 72px;
  }

  .subheadline-index {
    font-size: 34px;
  }
  .next-index {
    margin-top: 110px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .next-icon-index {
    width: 144px;
  }
}
